<footer>
    <div class="footer-content">
        <p>&copy; 2024 Doggo Dreams. All rights reserved.</p>
        <a href="#" onclick="showDisclaimer()">Privacy/Disclaimer Statement</a>
    </div>
</footer>
<script>
    function showDisclaimer() {
        alert("We promise that your information will not be sold or misused. This website builder is not responsible for any incorrect information posted by a pet owner.");
    }
</script>
