footer {
    background-color: #333; 
    color: #fff; 
    text-align: center;
    padding: 20px 0;
    margin-top: auto; 
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p, .footer-content a {
    margin: 5px 0;
    color: #fff;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}
.subtitle {
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
}
.special {
    color: #259db3;
}
body {
    background-color: #f5f5;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.logo {
    display: inline-block;
    width: 100px;
    height: 100px;
    vertical-align: middle;
}
.title, .subtitle {
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
}
.side-menu {
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    right: 0;
    top: 0;
    width: 20vw;
    height: 100vh;
    background-color: #231f20;
}
.side-menu h1 {
    color: antiquewhite;
    text-align: center;
}
.side-menu h3 {
    color: rgb(62, 184, 186);
    text-align: center;
}
.side-menu h3:hover {
    background-color: rgb(120, 122, 201);
}
.menu {
    list-style: none;
    text-align: center;
}
a:visited {
    text-decoration: none;
}
.gr-img {
    margin-left: 35px;
    height: 200px;
    width: 150px;
}
.stz-img {
    margin-left: 100px;
    height: 200px;
    width: 300px;
}
.dogos {
    margin-left: 100px;
    height: 200px;
    width: 300px;
}
.GR {
    margin-top: 30px;
}
.dog-text {
    margin-right: 20vw;
    margin-left: 35px;
}
.content {
    padding: 20px;
    flex: 1;
    background-color: #f0f0f0;
}
h2 {
    text-align: center;
}
label {
    display: block;
    margin: 10px 0 5px;
}
select,
input[type="radio"],
input[type="checkbox"],
button {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}
.form-actions {
    display: flex;
    justify-content: space-between;
}
button {
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.error {
    color: red;
    margin: 10px 0;
}
.pet-list {
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
}
.pet-item {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: white;
}
.pet-item img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
}
.pet-info {
    flex: 1;
}
.interested-button {
    background-color: #259db3;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    width: 10%;
    margin-right: 20%;
}
.interested-button:hover {
    background-color: #1e7d8a;
}

@media (max-width: 768px) and (min-width: 481px) {
    body {
        background-color: rgb(227, 232, 227);
    }
    .side-menu {
        width: 30vw;
    }
    .logo {
        width: 100px;
        height: 100px;
        display: block;
        margin: 0 auto;
    }
    .title, .subtitle {
        display: block;
        text-align: center;
        width: 100%;
    }
    .subtitle {
        display: none;
    }
    .pet-item img {
        width: 150px;
        height: 150px;
        display: block;
        margin: 0 auto;
    }
    .pet-info {
        text-align: center;
    }
    .side-menu h1, .side-menu h3 {
        font-size: 1.2em;
    }
    .gr-img, .stz-img, .dogos {
        margin-left: auto;
        margin-right: auto;
        height: 150px;
        width: 200px;
        display: block;
    }
    .dog-text {
        margin-right: 5vw;
        margin-left: 5vw;
        text-align: center;
        width: 350px;
    }
}
@media (max-width: 480px) {
    body {
        background-color: rgb(62, 184, 186);
    }
    .side-menu {
        width: 20vw;
    }
    .logo {
        width: 80px;
        height: 80px;
        display: block;
        margin: 0 auto;
    }
    .title, .subtitle {
        display: block;
        text-align: center;
        width: 100%;
    }
    .pet-item img {
        width: 100px;
        height: 100px;
        display: block;
        margin: 0 auto;
    }
    .pet-info {
        text-align: center;
    }
    .side-menu h1, .side-menu h3 {
        font-size: 1.2em;
    }
    .gr-img, .stz-img, .dogos {
        margin-left: auto;
        margin-right: auto;
        height: 100px;
        width: 150px;
        display: block;
    }
    .dog-text {
        margin-right: 5vw;
        margin-left: 5vw;
        text-align: center;
        width: 300px;
    }
    .subtitle {
        display: none;
    }
}
